@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">歡迎來到Azure網站設計教學</h1>
    <h1 class="display-4">使用Visual Studio Community 2022</h1>
</div>
